@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* overflow-x: auto; */
    background-color: black;
    background-image: url("galaxy.jpg");
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    height: 4vw;

}

ul {
    list-style-type: none;
    text-decoration: none;
}


ul li {
    display: inline;
}

a {
    color: #BB96DC;
    text-decoration: none;
    margin: 0 10px;
}

main {
    display: flex;
    height: 100vh;
    overflow-x: auto;
    /* overflow is what is causing 2 scroll bars but separating header and celestial bodies*/
}

p {
    font-size: 12px;
}

.nav-links {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #BB96DC;
    color: #000000;
    margin: 10px 10px 0 10px;
    text-decoration: none;
    position: relative;
}

.nav-links:hover {
    background-color: #8849BC;
    /* Adjust the background color on hover */
}

.nav-links::after {
    content: attr(data-hover-text);
    /* Display the data-hover-text attribute as content */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    /* Initially hidden */
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.nav-links:hover::after {
    opacity: 1;
    visibility: visible;
    /* Show text on hover */
}

.logo {
    position: absolute;
    height: auto;
    left: 4vw;
    width: 4vw;
    top: 1vw;
}

/* index  */

.Index {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    position: relative;
    background-color: #1B1145;
    cursor: pointer;
    display: flex;
    align-items: center;

    justify-content: center;
    /* position of the circle */
    top: 5vw;
    left: 5vw;
    box-shadow: 0 0 10px 5px rgba(85, 36, 169, 0.8);
    /* Add box-shadow for the glow effect */
    transition: box-shadow 0.3s ease-in-out;
}


.Index p {
    display: none;
    color: #BB96DC;
    text-decoration: none;
    pointer-events: none;
}

.Index:hover p {
    display: block;
    opacity: 1;
}

.Index:hover {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8);
}

/* references */

.References {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    position: relative;
    background-color: #1B1145;
    cursor: pointer;
    display: flex;
    align-items: center;

    justify-content: center;
    /* position of the circle */
    top: 35vw;
    left: -2vw;
    box-shadow: 0 0 10px 5px rgba(85, 36, 169, 0.8);
    /* Add box-shadow for the glow effect */
    transition: box-shadow 0.3s ease-in-out;
}


.References p {
    display: none;
    color: #BB96DC;
    text-decoration: none;
    pointer-events: none;
}

.References:hover p {
    display: block;
    opacity: 1;
}

.References:hover {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8);
}



/* Project */

.Project {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    position: relative;
    background-color: #402278;
    cursor: pointer;
    display: flex;
    align-items: center;

    justify-content: center;
    /* position of the circle */
    top: 5vw;
    left: -25vw;
    box-shadow: 0 0 10px 5px rgba(102, 83, 135, 0.8);
    /* Add box-shadow for the glow effect */
    transition: box-shadow 0.3s ease-in-out;
}


.Project p {
    display: none;
    color: #BB96DC;
    text-decoration: none;
    pointer-events: none;
}

.Project:hover p {
    display: block;
    opacity: 1;
}

.Project:hover {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8);
}

/* exercies */

.Exercise {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    position: relative;
    background-color: #8849BC;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position of the circle */
    top: 18vw;
    left: 15vw;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
    /* Add box-shadow for the glow effect */
    transition: box-shadow 0.3s ease-in-out;
}

.Exercise p {
    display: none;
    color: rgb(197, 185, 197);
    text-decoration: none;
    pointer-events: none;
}

.Exercise:hover p {
    display: block;
    opacity: 1;
}

.Exercise:hover {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8);
}


/* readings */


.Reading {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    position: relative;
    background-color: #2c0b47;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position of the circle */
    top: 18vw;
    left: 15vw;
    box-shadow: 0 0 10px 5px rgba(255, 156, 156, 0.8);
    /* Add box-shadow for the glow effect */
    transition: box-shadow 0.3s ease-in-out;
}

.Reading p {
    display: none;
    color: rgb(221, 120, 221);
    text-decoration: none;
    pointer-events: none;
}

.Reading:hover p {
    display: block;
    opacity: 1;
}

.Reading:hover {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8);
}




/* Media Queries */
@media (max-width: 600px) {
    body {
        margin: 0;
    }


    main {
        flex-direction: column;
    }

    .Index {
        width: 10vw;
        height: 10vw;
        font-size: 8px;
        top: 5vw;
        left: 5vw;
    }

    .References {
        width: 10vw;
        height: 10vw;
        font-size: 5px;
        bottom: 5vw;
        left: 5vw;
    }


    .Project {
        width: 22vw;
        height: 22vw;
        top: 5vw;
        left: -25vw;
    }

    .Exercise {
        width: 17vw;
        height: 17vw;
        top: 18vw;
        left: 15vw;
    }

    .Reading {
        width: 12vw;
        height: 12vw;
        top: 18vw;
        left: 15vw;
    }

    .nav-links {
        margin: 30px 10px 0 10px;
        width: 20px;
        height: 20px;
    }

}