body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
}

#apod-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#apod-image {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

#apod-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#apod-explanation {
    font-size: 16px;
    line-height: 1.6;
}

#new-apod-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}